/* Importar Variables */
@import url("theme.css");

body {
  overflow-y: scroll; /* Para probar el scroll */
  scrollbar-color: var(--color-primary) var(--color-background);
  scrollbar-width: var(--border-radius-sm);
}

/* Estilos Webkit */
::-webkit-scrollbar {
  width: var(--border-radius-sm);
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-background);
  border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background);
}
