:root {
    /* --- Espaciado --- */
    --spacing-xxs: 4px;
    /* Espaciado extra extra pequeño */
    --spacing-xs: 8px;
    /* Espaciado extra pequeño */
    --spacing-sm: 12px;
    /* Espaciado pequeño */
    --spacing-md: 16px;
    /* Espaciado mediano */
    --spacing-lg: 24px;
    /* Espaciado grande */
    --spacing-xl: 32px;
    /* Espaciado extra grande */
    --spacing-xxl: 48px;
    /* Espaciado extra extra grande */
  
    /* --- Bordes y Radios --- */
    --border-width: 1px;
    /* Ancho de bordes predeterminado */
    --border-radius: 8px;
    /* Bordes redondeados */
    --border-radius-sm: 4px;
    /* Bordes redondeados pequeños */
    --border-radius-lg: 16px;
    /* Bordes redondeados grandes */
  
    /* --- Unidades Responsivas --- */
    --viewport-width: 100vw;
    /* Ancho de la ventana */
    --viewport-height: 100vh;
    /* Alto de la ventana */
    
    /* Nuevas Unidades (CSS Logical Units) */
    --dynamic-margin: env(safe-area-inset-left);
    --dynamic-padding: env(safe-area-inset-right);
}